body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	font: 14px Helvetica, Sans-Serif; line-height: 24px; color: #a6a6a6;
	background: #000 url(images/bg-pattern.png);
}

#container {
	width: 960px; margin: 0 auto 24px auto; background: #000; /*background: url(images/grid.png) center top no-repeat;*/
	box-shadow: 0px 5px 45px #343434;
	-moz-box-shadow: 0px 5px 45px #343434;
	-webkit-box-shadow: 0px 5px 45px #343434;
}

a {
	color: #abe2ff; text-decoration: none;
}
a:hover {
	color: #5db5e3;
}

header h1 {
	margin: 54px 0 0 21px; float: left;
}

header nav {
	float: left;
	margin: 79px 0 17px 0;
}
header nav ul li {
	float: left; list-style: none;
	width: 58px; margin: 0 0 0 98px;
}
header nav ul li a {
	text-transform: uppercase;	
}

#feature {
	clear: both; height: 431px; overflow: hidden; margin: 0 0 48px 0;
	background: #000;
	background: -moz-linear-gradient(top, #000 0%, #191919 5%, #000 5%, #000 94%, #191919 94%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(5%,#191919), color-stop(5%,#000), color-stop(94%,#000), color-stop(94%,#191919), color-stop(100%,#000));
	background: -webkit-linear-gradient(top, #000 0%,#191919 5%,#000 5%,#000 94%,#191919 94%,#000 100%);
	/*opacity: 0.5;*/
}
#feature h2 {
	width: 216px; height: 30px; margin: 0 0 31px 0;
	background: url(images/hydrotek.png); text-indent: -9999px;
}
#feature img {
	float: right; margin: 22px 0 0 0;
}
#feature-info {
	float: left; width: 370px; margin: 89px 0 0 100px;
}
#feature-info p {
	margin: 0 0 34px 0; font-size: 16px;
}
#feature-info p.btn a {
	display: block; width: 170px; height: 35px;
	background: #497389;
	background: -moz-linear-gradient(top, #497389 0%, #151e36 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#497389), color-stop(100%,#151e36), color-stop(100%,#000));
	background: -webkit-linear-gradient(top, #497389 0%,#151e36 100%);
	border: 1px solid #313e52;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-transform: uppercase; text-align: center; padding: 12px 0 0 0;
}
#content {
	overflow: hidden; clear: both;
}
#content .bucket {
	width: 212px; float: left; margin: 0 0 48px 20px;
	border: 1px solid #262626;
	background: #000;
	background: -moz-linear-gradient(top, #000 0%, #000 39%, #191919 39%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(39%,#000), color-stop(39%,#191919), color-stop(100%,#000));
	background: -webkit-linear-gradient(top, #000 0%,#000 39%,#191919 39%,#000 100%);
}
#content .bucket:first-child {
	margin: 0 0 0 22px;
}

#content #sun, #content #sport, #content #tech, #content #special {
	display: block; width: 212px; height: 143px;
	margin: 0 0 32px 0; text-indent: -9999px;
}
#content #sun { background: url(images/game-ace.png); }
#content #sport { background: url(images/webgl-df.png); }
#content #tech { background: url(images/web.png); }
#content #special { background: url(images/game-banana-madness.png); }

#content #sun:hover, #content #sport:hover, #content #tech:hover, #content #special:hover {
	background-position: 0 -143px;
}

#content .bucket p {
	margin: 0 0 24px 0; padding: 0 13px 0 13px;
}

footer {
	width: 960px; margin: 0 auto; height: 80px;
	font-size: 12px;
}
footer #copyright {
	float: left; margin: 0 0 0 22px;
}

footer ul {
	float: left; margin: 0 0 0 134px; list-style: none; overflow: hidden;
	
}
footer li {
	float: left; margin: 0 10px 0 10px;
}

footer #back-top {
	float: right; margin: 0 22px 0 0;
}
footer #back-top a {
	background: url(images/optik-logo-sm.png) left no-repeat; padding: 5px 0 5px 40px;
}